@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.hamburger {
  @apply w-8 h-0.5 bg-zinc-900 dark:bg-stone-300 absolute top-1/2 md:w-10;
  transition: all 0.5s ease;
}

.hamburger::before {
  content: "";
  transition: all 0.5s ease;
  @apply w-8 h-0.5 bg-zinc-900 dark:bg-stone-300 absolute left-0 top-1.5 md:w-10 md:top-2;
}

.hamburger::after {
  content: "";
  transition: all 0.5s ease;
  @apply w-8 h-0.5 bg-zinc-900 dark:bg-stone-300 absolute left-0 -top-1.5 md:w-10 md:-top-2;
}

.activeHamburger {
  transform: rotate(45deg);
}
.activeHamburger::before {
  @apply top-0 rotate-90;
}

.activeHamburger::after {
  @apply top-0 rotate-90;
}

.fillAvailable {
  height: -webkit-fill-available;
}
